<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eğlence</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            transition: background-color 0.5s;
        }
        button {
            padding: 20px 40px;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <button onclick="changeColor()">Butona Bas</button>
    <script>
        function changeColor() {
            document.body.style.backgroundColor = getRandomColor();
        }

        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function getUserInput() {
            const userInput = prompt("Bir mesaj girin:");
            if (userInput) {
                const div = document.createElement("div");
                div.textContent = userInput;  
                document.body.appendChild(div);
            }
        }

       
        window.onload = getUserInput;
    </script>
</body>
</html>
