/* style2.css */

/* Genel sayfa stili */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Arka plan rengi */
    margin: 0;
    padding: 0;
}

/* Giriş konteyneri */
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Giriş form konteyneri */
#login-form-container, #register-form-container {
    background-color: #ffffff; /* Form arka plan rengi */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Gölge */
    margin: 10px;
}

/* Giriş formu stilleri */
#login-form, #register-form {
    max-width: 300px;
    margin: 0 auto;
}

/* Başlık stilleri */
h2 {
    text-align: center;
    color: #333333; /* Başlık rengi */
}

/* Form grubu stilleri */
.form-group {
    margin-bottom: 15px;
}

/* Etiket stilleri */
label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Etiket rengi */
}

/* Input stilleri */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc; /* Input kenarlık rengi */
    border-radius: 5px;
    box-sizing: border-box;
}

/* Giriş butonu stilleri */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333333; /* Buton arka plan rengi */
    color: #ffffff; /* Buton metin rengi */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Giriş butonu hover etkisi */
button[type="submit"]:hover {
    background-color: #1a1a1a; /* Hover rengi */
}
