<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Rubik+Scribble&display=swap"
        rel="stylesheet">
</head>

<body>
    <section id="menu">
        <div id="logo">ADMIN PANELİ</div>
        <nav>
            <ul>
                <li><a href="#Anasayfa">Anasayfa</a></li>
                <li><a href="#KullaniciYonetimi">Kullanıcı Yönetimi</a></li>
                <li><a href="#Ayarlar">Ayarlar</a></li>
                <li><a href="#Cikis">Çıkış</a></li>
            </ul>
        </nav>
    </section>

    <section id="Anasayfa">
        <div id="black"></div>
        <div id="icerik">
            <h2>Hoş Geldiniz</h2>
            <hr>
            <p>
                Admin paneline hoş geldiniz. Buradan site yönetimi ile ilgili işlemleri gerçekleştirebilirsiniz.
            </p>
        </div>
    </section>
    
    <section id="iletisim">
        <section id="KullaniciYonetimi">
            <h3>Kullanıcı Yönetimi</h3>
            <div id="container">
                <div id="sol">
                    <h5 id="h5sol">Kullanıcı Ekle</h5>
                    <form action="/add_user" method="POST">
                        <input type="text" name="username" placeholder="Kullanıcı Adı" required class="formkontrol">
                        <input type="password" name="password" placeholder="Şifre" required class="formkontrol">
                        <input type="submit" value="Ekle">
                    </form>
                    <h5 id="h5sol">Kullanıcı Sil</h5>
                    <form action="/add_user" method="POST">
                        <input type="text" name="username" placeholder="Kullanıcı Adı" required class="formkontrol">
                        <input type="submit" value="Sil">
                    </form>
                </div>
                <div id="sag">
                    <h5 id="h5sag">Kullanıcı Listesi</h5>
                    <ul>
                        <li>baran</li>
                        <li>ertuğrul</li>
                        <li>kerim</li>
                        <li>deneme</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section id="Ayarlar">
            <h3>Ayarlar</h3>
            <div id="container">
                <div id="sol">
                    
                </div>
            </div>
        </section>
        
        
        
        <section id="Cikis">
            <h3>Çıkış</h3>
            <div id="container">
                <a href="/logout" class="formkontrol">Çıkış Yap</a>
            </div>
        </section>
    </section>
    
    <footer>2024 Tüm Hakları Saklıdır</footer>
</body>

</html>
