<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fotoğraf Yükleme</title>
  <link rel="stylesheet" href="../static/fileupload.css">
</head>
<body>
    <h1>Hoş Geldin {{ session['username'] }}</h1>
    {% if 'username' not in session %}
    <h2>Login/Register</h2>
    <form method="post" action="/login_register">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" name="submit_button" value="register">Register</button>
        <button type="submit" name="submit_button" value="login">Login</button>
    </form>
    {% else %}
    <a href="/logout">Logout</a>
    {% endif %}
</body>
</html>
